/* Landing.css */

.landing-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .navbar {
    position: absolute;
    top: 30px;
    left: 67%;
    display: flex;
    gap: 18px;
    z-index: 1;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .content-wrapper {
    text-align: center;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  